@(level: Int)
<div class="modal" id="clearModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title">Congratulations!</h4>
      </div>
      @if(level == 3){
        <div class="modal-body">
          <p>
            You are ready for Scala programming. Go to the next step!
          </p>
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/0981531687"><img width="200" src="https://images-na.ssl-images-amazon.com/images/I/51y4d3qeABL._SX377_BO1,204,203,200_.jpg"></a>
        </div>
      }
      <div class="modal-footer">
        <a href="/level/@(level)" class="btn btn-secondary">Retry this stage</a>
        @if(level == 3){
          <a href="/" class="btn btn-primary">Go to first stage</a>
        } else {
          <a href="/level/@(level + 1)" class="btn btn-primary">Go to next stage</a>
        }
    </div>
    </div>
  </div>
</div>