@(level: Int)
<div class="modal" id="gameOverModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title">Game Over!</h4>
      </div>
      <div class="modal-footer">
        <a href="/level/@(level)" class="btn btn-primary">Retry this stage</a>
      </div>
    </div>
  </div>
</div>
