@(level: Int)
@if(level >= 3){
  <h5>Stage 3</h5>
  <p class="recipient">
    Check life by <code>warrior.health</code> and recover by returning <code>Action.Rest</code> in <code>next()</code> method.
  </p>
}
@if(level >= 2){
  <h5>Stage 2</h5>
  <p class="recipient">
    Check the front by <code>warrior.feel</code>. It returns <code>Space</code> has following methods:
  </p>
  <ul>
    <li><code>isEmpty</code></li>
    <li><code>isEnemy</code></li>
  </ul>
  <p class="recipient">
    Further, attack enemy by returning <code>Action.Attack</code> in <code>next()</code> method.
  </p>
}
@if(level >= 1) {
  <h5>Stage 1</h5>
  <p class="recipient">
    Walk by returning <code>Action.Walk</code> in <code>next()</code> method.
  </p>
  <h5>Keyboard shortcut</h5>
  <ul>
    <li><code>Ctrl + S</code>: Compile</li>
    <li><code>Ctrl + Space</code>: Code completion</li>
  </ul>
}
