@(level: Int)(implicit environment: play.api.Environment, webJarsUtil: org.webjars.play.WebJarsUtil)
@main("Scala Warrior") {
  <div>
    <div class="card @views.Styles.help.htmlClass">
      <div class="card-header">Hint</div>
      <div class="card-block">@Html(views.Components.help(level).toString)</div>
    </div>
    <h1 class="@views.Styles.silk.htmlClass @views.Styles.h1.htmlClass">
      <span style="color: #AA0000;">S</span>cala<img src="/assets/images/samurai.png" class="@views.Styles.logo.htmlClass">
      <span class="@views.Styles.status.htmlClass">
        Level: @level
        Life: <span id="life">20</span>
      </span>
      <a href="https://github.com/scalawarrior/scalawarrior" target="_blank"><i class="octicon octicon-mark-github @views.Styles.github.htmlClass" style="color: #373a3c;"></i></a>
    </h1>
    <div>
      <canvas id="demoCanvas" width="1000" height="200" style="background-color: black;"></canvas>
    </div>
    <div class="@views.Styles.buttons.htmlClass">
      <input type="button" id="run" value="Run" class="btn btn-success">
      <span id="status"></span>
    </div>
    <div id="editor" class="@views.Styles.editor.htmlClass">import api._

class ScalaWarriorController extends api.ScalaWarriorController {
  def next(warrior: ScalaWarrior): Action = {
    // TODO Write your code here!
  }
}</div>
  @scalajs.html.scripts("scalajsclient", routes.Assets.at(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
</div>

@Html(views.Components.clear(level).toString)
@Html(views.Components.gameover(level).toString)
