@font-face {
    font-family: 'Silkscreen';
    src:  url('/assets/stylesheets/slkscr.ttf') format('truetype')
}

.silk {
    font-family: "Silkscreen", Menlo, monospace;
}

.code {
    margin-top: 8px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    padding: 8px;
}